<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lepidoptera Login</title>
    <link rel="stylesheet" href="/css/style.css" />
    
    <script>
      if (location.protocol != "https:") {
        location.href =
          "https:" +
          window.location.href.substring(window.location.protocol.length);
      }
    </script>
    
    <script src="/js/nav-ui.js"></script>

    <script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-analytics.js";
  import { getAuth } from "https://www.gstatic.com/firebasejs/9.15.0/firebase/auth";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyAo_P2AydU_9RxY4RPDTvZsJtnBvfi7cyM",
    authDomain: "lepidoptera-e93c3.firebaseapp.com",
    projectId: "lepidoptera-e93c3",
    storageBucket: "lepidoptera-e93c3.appspot.com",
    messagingSenderId: "454822541154",
    appId: "1:454822541154:web:a3d9c9c0b9540c57f51e3b",
    measurementId: "G-Z89CWN5WHD"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
    
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css"
    />
    <script>
      var ui = new firebaseui.auth.AuthUI(firebase.auth());

       ui.start('#firebaseui-auth-container', {
        signInOptions: [
          firebase.auth.EmailAuthProvider.PROVIDER_ID,
          firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          //firebase.auth.FacebookAuthProvider.PROVIDER_ID,
          //firebase.auth.TwitterAuthProvider.PROVIDER_ID,
          //firebase.auth.GithubAuthProvider.PROVIDER_ID],
        ]
       // Other config options...
       });
    </script>
    <script>
      var uiConfig = {
        callbacks: {
          signInSuccessWithAuthResult: function (authResult, redirectUrl) {
            // User successfully signed in.
            // Return type determines whether we continue the redirect automatically
            // or whether we leave that to developer to handle.
            return true;
          },
          uiShown: function () {
            // The widget is rendered.
            // Hide the loader.
            document.getElementById("loader").style.display = "none";
          },
        },
        // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
        signInFlow: "popup",
        signInSuccessUrl: "lepidoptera.glitch.me/my-account.html",
        signInOptions: [
          // Leave the lines as is for the providers you want to offer your users.
          firebase.auth.EmailAuthProvider.PROVIDER_ID,
          firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          //firebase.auth.FacebookAuthProvider.PROVIDER_ID,
          //firebase.auth.TwitterAuthProvider.PROVIDER_ID,
          //firebase.auth.GithubAuthProvider.PROVIDER_ID,
          //firebase.auth.PhoneAuthProvider.PROVIDER_ID,
        ],
        // Terms of service url.
        tosUrl: "https://en.wikipedia.org/wiki/Terms_of_service",
        // Privacy policy url.
        privacyPolicyUrl: "<https://en.wikipedia.org/wiki/Privacy_policy",
    </script>
  </head>
  <body>
    <section class="navbar">
      <div class="topnav" id="myTopnav">
        <a href="/views/index.html">Home</a>
        <a href="/views/howto.html">How to</a>
        <a href="/views/login.html" class="active">Log in</a>
        <div class="dropdown">
          <button class="dropbtn">
            Maps
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/views/map.html">Species Occurence</a>
          </div>
        </div>
        <a href="/views/about.html">About</a>
        <div class="dropdown">
          <button class="dropbtn">
            Utilities
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/views/format-questions.html">Species Narrative</a>
            <a href="/views/species-interactions.html">Species Interactions</a>
            <a href="/views/species-portrait.html">Species Portraits</a>
            <a href="/json/localspecies.json">National Species</a>
            <a href="/json/cytoscape-style.json">Interaction Style</a>
          </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"
          >&#9776;</a
        >
      </div>
    </section>

    
    
    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>
  </body>
</html>
