<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>

    <script>
      if (location.protocol != "https:") {
        location.href =
          "https:" +
          window.location.href.substring(window.location.protocol.length);
      }
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jsts/2.0.5/jsts.js"
      type="text/javascript"
    ></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="https://js.cytoscape.org/js/cytoscape.min.js"></script>
    <script src="https://unpkg.com/mapbox-gl-draw-waypoint@1.0.3/dist/mapbox-gl-draw-waypoint.min.js"></script>
    <script src="/js/nav-ui.js"></script>
    <title>Lepidoptera Map</title>
  </head>
  <body style="overflow-x: clip; overflow-y: clip">
    <script src="https://unpkg.com/three@0.126.0/build/three.min.js"></script>
    <script src="https://unpkg.com/three@0.126.0/examples/js/loaders/GLTFLoader.js"></script>
    <div class="topnav" id="myTopnav">
      <a href="/views/index.html">Home</a>
      <a href="/views/howto.html">How to</a>
      <a href="/views/login.html">Log in</a>
      <div class="dropdown">
        <div class="active">
          <button class="dropbtn">
            Maps
            <i class="fa fa-caret-down"></i>
          </button>
        </div>
        <div class="dropdown-content">
          <a href="/views/map.html">Species Occurence</a>
        </div>
      </div>
      <a href="/views/about.html">About</a>
      <div class="dropdown">
        <button class="dropbtn">
          Utilities
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/views/format-questions.html">Species Narrative</a>
          <a href="/views/species-interactions.html">Species Interactions</a>
          <a href="/views/species-portrait.html">Species Portraits</a>
          <a href="/json/localspecies.json">National Species</a>
          <a href="/json/cytoscape-style.json">Interaction Style</a>
        </div>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()"
        >&#9776;</a
      >
    </div>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css"
      type="text/css"
    />
    <div id="main">
      <button class="openbtn" onclick="openNav()">></button>
      
      <div id="map">
        <div id="cy-overlay"></div>
        <div id="debug-text"></div>
        <div id="currentDate"></div>
        <div id="slidecontainer" class="slidecontainer">
          <input type="range" min="1" class="slider" id="myRange" />
        </div>
        <div id="style-menu">
          <input
            id="streets-v12"
            type="radio"
            name="rtoggle"
            value="streets"
            checked="checked"
          />
          <label for="streets-v12">Streets</label>
          <input
            id="satellite-streets-v12"
            type="radio"
            name="rtoggle"
            value="satellite"
          />
          <label for="satellite-v9">Satellite</label>
          <input id="light-v11" type="radio" name="rtoggle" value="light" />
          <label for="light-v11">Light</label>
          <input id="dark-v11" type="radio" name="rtoggle" value="dark" />
          <label for="dark-v11">Dark</label>
          <input
            id="outdoors-v12"
            type="radio"
            name="rtoggle"
            value="outdoors"
          />
          <label for="outdoors-v12">Outdoors</label>
        </div>
      </div>
      
      <div id="how-to" class="overlay">
        <div class="how-to">
          <h2>About Map:</h2>
          <a class="close" href="#how-to">×</a>
          <div class="popupcontent">
            Green dots indicate
            <a href="https://www.gbif.org/dataset-classes#occurrences"
              >Species Occurences</a
            >
            <br />
            Red dots indicate
            <a
              style="color: red; text-decoration: underline"
              href="https://www.iucnredlist.org/assessment/process"
              >EU Threatened Species</a
            ><br />
            <br />
            To get occurence details: <br />
            <br />
            1.) Select the Polygon tool in the upper-right corner. <br />
            <br />
            2.) Click the map to begin drawing a search permieter using points.
            <br />
            <br />
            3.) Double-click to place the final point, and retrieve results.
          </div>
        </div>
      </div>

      <div class="lds-grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><</a>
      <h2>Tools</h2>
      <div class="result-filter">
        <input
          id="feature-filter"
          type="text"
          placeholder="Filter occurences by name..."
        />
        <div id="feature-listing" class="listing"></div>
      </div>
      <p id="title-filters"></p>
      <nav id="filter-group" class="filter-group"></nav>
      <p id="title-functions"></p>
      <nav id="function-group" class="function-group"></nav>
      <p id="title-layers"></p>
      <nav id="layer-menu"></nav>
    </div>
    <script type="text/javascript" src="/js/functions.js"></script>
    <script type="text/javascript" src="/js/mapbox.js"></script>
  </body>
</html>
