<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Lepidoptera</title>
    <link rel="stylesheet" href="style.css" />
    <script src="nav-ui.js"></script>

    <script>
      if (location.protocol != "https:") {
        location.href =
          "https:" +
          window.location.href.substring(window.location.protocol.length);
      }
    </script>
  </head>
  <body>
    <section class="navbar">
      <div class="topnav" id="myTopnav">
        <a href="index.html">Home</a>
        <a href="howto.html">How to</a>
        <a href="login.html">Log in</a>
        <div class="dropdown">
          <button class="dropbtn">
            Maps
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="map.html">Species Occurence</a>
          </div>
        </div>
        <a href="about.html" class="active">About</a>
        <div class="dropdown">
          <button class="dropbtn">
            Utilities
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="format-questions.html">Species Narrative</a>
            <a href="species-interactions.html">Species Interactions</a>
            <a href="species-portrait.html">Species Portraits</a>
            <a href="localspecies.json">National Species</a>
            <a href="cytoscape-style.json">Interaction Style</a>
          </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"
          >&#9776;</a
        >
      </div>
    </section>
    <div id="about-pres">
      <br><br>
    <h1>
      Lepidoptera
    </h1>
    <h2>
      A Computational Framework for Animal Aided Design
    </h2>
    <br>
    <p>
      Lepidoptera is currently under development as part of an ongoing master's project at the 
      Royal Danish Academy's Computation in Architecture Program. The project itself called PLANimals,
      uses Lepidoptera as the project's primary web platform. 
      <br><br>
      <b>The motivation for the project is simple:</b><br>
      The way we design and build cities, and the buildings in them impacts local and global biodiversity in profound ways. 
      As we begin to better understand these impacts, there is a growing need for accessible platforms that facilitate 
      a cross disciplinary and collaborative approach to quanifty and reduce those impacts. Lepidoptera is a 
      work-in-progress, and experimental platform where scientists, architects, urban planners, and citizens can gather, 
      contribute, communicate, and analyze structured geospatial ecological data as it relates to biodiversity. 
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide5.JPG?v=1682706233465" alt="WEF Threats">
    <p>
      Biodiversity loss is a growing long-term threat to humanity.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide6.JPG?v=1682706234264" alt="Global Living Planet Index">
    <p>
      The Living Planet Index tracks global biodiversity. 
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide7.JPG?v=1682706234913" alt="Continent Living Planet Index">
    <p>
      The LPI trends differently for each continent.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide8.JPG?v=1682706235785" alt="Ecological Footprint">
    <p>
      Understanding our Ecological Footprint is essential to understanding the human impacts on biodiversity.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide9.JPG?v=1682706236545" alt="Ecological Footprint by Land Use">
    <p>
      Specifically, 'Ecological Footprint by Land Use' is cited by the WWF as an essential metric for identifying our impact on biodiversity decline.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide10.JPG?v=1682706237353" alt="Ecological Footprint by Building Industry">
    <p>
      It is an estimate that that our cities and roads (and their embodied carbon) contribute about 30% to the global Ecological Footprint.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide11.JPG?v=1682706238103" alt="Direct and Indirect Impacts">
    <p>
      Cities impact biodiversity directly through land development, and indirectly through their material consumption and material transportation.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide13.JPG?v=1682706238946" alt="Current AEC Repsonse">
    <p>
      Architecture is adressing the direct impacts through a greater focus on "Ecological Design" principals and the indirect impacts though LCA.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide14.JPG?v=1682706239858" alt="Hard and Soft Elements">
    <p>
      So why, given our focus on ecological design, do we lack widely distributed tools for designing with (and for) ecologies.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide15.JPG?v=1682706240734" alt="Planimals Research Question">
    <p>
      This is the Research Question PLANimals, and Lepidoptera are trying to answer.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide16.JPG?v=1682706241838" alt="Motivation Convo 1">
    <p>
      If given the correct information architects, scientists and citizens can make informed observations and design decisions.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide17.JPG?v=1682706242933" alt="Motivation Convo 2">
    <p>
      If given the correct information architects, scientists and citizens can make informed observations and design decisions.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide19.JPG?v=1682706243813" alt="Animal Aided Design">
    <p>
      The framework and platform proposed here is inspired by, and aims to aid various steps in the Animal Aided Design Methodology.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide20.JPG?v=1682706244693" alt="AAD Methodology Simplified">
    <p>
      The diagram above is a simplification of the steps involved deploying Animal Aided Design.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide21.JPG?v=1682706245392" alt="Planimals Methods">
    <p>
      The steps of the Planimals Framework align with those of Animal Aided Design methodology. 
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide22.JPG?v=1682706246475" alt="Methods Users">
    <p>
      It is a focus of PLANimals to make the framework accessible for multiple audiences. Hence the focus on a web platform and Citizen Science.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide23.JPG?v=1682706247303" alt="Statistical Model">
    <p>
      The statistical model is a location specific, multi-scalar, structured collection of geo-spaital ecological information.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide24.JPG?v=1682706248158" alt="Ecolopes">
    <p>
      The Horizon 2020 Project ECOLOPES is another state-of-the-art project focusing on gathering and deploying ecological data for architectural design.
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide25.JPG?v=1682706249691" alt="Filter">
    <p>
      Desc...
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide26.JPG?v=1682706250303" alt="Target Species Selection">
    <p>
      Desc...
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide27.JPG?v=1682706251411" alt="Data Driven Design Decisions">
    <p>
      Desc...
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide29.JPG?v=1682706252040" alt="Platform">
    <p>
      Desc...
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide31.JPG?v=1682706252882" alt="Ladybug Precedent">
    <p>
      Desc...
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide32.JPG?v=1682706253669" alt="Planimals Platform">
    <p>
      Desc...
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide33.JPG?v=1682706254477" alt="Accessibility">
    <p>
      Desc...
    </p>
    <img src="https://cdn.glitch.global/83e86ffc-5495-4dc6-a988-f4cfcfb14b31/Slide34.JPG?v=1682706255209" alt="Databases">
    <p>
      These are a few of the Databases that PLANimals uses in the creation of the Ecological Model.
    </p>
      </div>
  </body>
</html>
